.timeline{
    position: relative;
    &:before{
        content: "";
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: $primary_color;
        left: 50%;
        transform: translate(-50%);
    }
    .timeline-content{
        width:45%;
        padding: 20px;
        border: 2px solid $primary_color;
        text-align: right;
    }
    ul{
        li{
            clear: both;
            display: table;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                height: 20px;
                width: 20px;
                background-color: $primary_color;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            &:nth-child(2n){
                .timeline-content{
                    float: right;
                    text-align: left;
                }
            }
        }
    }
}